<li id="<%= feed.id %>">
  <span class="user">
    <%= link_to feed.user.name, feed.user.name %>
  </span>
  <span class="content"> <%= feed.content  %> <%= feed.price %> euro </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed.created_at) %> ago.
  </span>

</li>