<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Range:</strong>
  <%= @post.range %>
</p>

<p>
  <strong>Timeframe:</strong>
  <%= @post.timeframe %>
</p>

<%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= form_tag :action => "comment", :id => @post %>
       <%= text_area "comment", "body" %><br />
       <%= submit_tag "Comment" %>
    </form>
    
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
